body {
background-color: #ffcc99;

}

h1 {
	color: #660033
	
}

h2 {
	color: #660033
	
}

p {
	text-align:center
	color: #660033

}

ul {
	color:#660033
	text-align:center
	
	
}

li {
  color: #660033; 
	margin: 10px 0; /* bullet color */
}
li span {
  color: black; /* text color */
}